html {

scroll-behavior: smooth;

}


.button1 {
    background-color: green;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.6;
  }

  .button1:hover {opacity: 1}

  @font-face{
    font-family: 'Skyfall';
    src: url("Skyfall.ttf");
}

@font-face{
    font-family: 'star wars';
    src: url("Starjout.ttf");
}

.w3-animate-right1{position:relative;animation:animateright 1s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right2{position:relative;animation:animateright 1.5s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right3{position:relative;animation:animateright 2s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right4{position:relative;animation:animateright 2.5s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right5{position:relative;animation:animateright 3s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right6{position:relative;animation:animateright 3.5s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}
.w3-animate-right7{position:relative;animation:animateright 4s}@keyframes animateright{from{right:-10000px;opacity:0} to{right:0px;opacity:1}}

.myVideo {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  
  .myVideo video {
    min-width: 100%; 
    min-height: 100%; 
    max-width: screen;
    max-height: screen;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    zoom: 0.01;
    z-index: -1;
  }

  .btn {
    border: none;
    color: white;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
  }

  .btn:hover {background: rgba(0, 128, 128, 0.5);}

  .box {
    width: 85%; 
    height: 500px; 
    color: white;
    border: white 2px solid; 
    border-radius: 50px; 
    margin-top: 4%; 
    background-color: rgba(0, 128, 128, 0.5);
    float: right;
    position: static;
    vertical-align: super;
  }

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: rgba(76, 175, 79, 0.514);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  margin-top: 3%;
  border-radius: 50px;
  background-color: rgba(36, 250, 221, 0.5);
  padding: 20px;
  border: white 2px solid; 
}